<!doctype html>
<html>
<head>
    <title>Barangay Complaint Classifier</title>
</head>
<body>
    <h2>Online Sumbong: Barangay Complaint Submssion</h2>
    <form method="post">
        <textarea name="complaint" rows="6" cols="60" placeholder="Type your complaint here...">{{ text }}</textarea><br><br>
        <input type="submit" value="Classify">
    </form>

    {% if prediction %}
        <h3>Predicted Category:</h3>
        <p><strong>{{ prediction }}</strong></p>
    {% endif %}
</body>
</html>
